//* Container & Brakepoints

$containerWidth: 1600px;

$breakpoint992: 991.98px;
$breakpoint768: 767.98px;
$breakpoint480: 479.98px;

//* Colors

$black: #000;
$white: #fff;
$teal: #1ec6a7;

//* Fonts

$fontNunito: "Nunito Sans";
$fontInter: "Inter";